# [tool.poetry.dependencies]
pip
requests
websocket-client
iso8601
cdp-sdk
python-dotenv
peewee
click

numpy
pandas
matplotlib
h5py

# [tool.poetry.group.dev.dependencies]
black
isort
flake8
pre_commit
pyupgrade
build

pytest
pytest-mock

mkdocs
mkdocstrings
mkdocs-material

# Only install if you need it
# pynvim
# ipykernel # VSCode requires the kernel
# jupyter
